/*==========  Desktop First Method  ==========*/

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 360px) {
}



/* Large Devices, Wide Screens  XL */ 
@media only screen and (max-width : 1200px) {

}


/* Medium Devices, Desktops LG*/
@media only screen and (max-width : 992px) {
 
}

/* Small Devices, Tablets MD*/
@media only screen and (max-width : 768px) {

    .mood-img {
        width: 3em;
    }
    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

/* Extra Small Devices, Phones XS*/
@media only screen and (max-width : 480px) {
    .table .cell-span-note {
        max-width: 70px;
        display: block;
    }

    .table .cell-span-task {
        max-width: 152px;
        display: block;
    }

    .mood-img {
        width: 2em;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .gamburger {
        display: none;
    }

    .mood-img {
        width: 3em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
