
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3><strong>Справочный центр</strong></h3>
                    </div>
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Регистрация</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                Возможность регистрации пользователя с помощью электронной почты или социальных сетей.
                            </li>
                            <li>
                                Добавление своих данных, таких как возраст, пол, вес и рост (опционально).
                            </li>
                            <li>
                                При регистрации у пользователя 1 уровень, 0 опыта, 0 монет.
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Работа с задачами</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                Пользователь может указывать свои дела, события, встречи и прочее в задачах.
                            </li>
                            <li>
                                Задачи имеют три уровня сложности : Легкий, Средний и Тяжелый, в зависимости от уровня изменяется размер получаемого опыта, количество кредитов, а также количество наносимого урона за пропуск задания.
                            </li>
                            <li>
                                Для заданий можно выбрать навык, на какой она будет влиять или указать без навыка.
                            </li>
                            <li>
                                Для заданий можно выбирать количество повторений : Без повторений, Ежедневно, Ежемесячно и Ежегодно. Если выбираешь без повторений, то задание выполняется один раз и больше не отображается, для остальных устанавливается дата следующего повторения. За каждое пропущенное задание пользователь теряет свое здоровье, опыт, а также опыт по характеристики, какую установил для задачи. Примеры задачи: Пойти в тренажерный зал, Дата: 01.01.2018, Сложность:Тяжелая, Характеристика: Сила и выносливость или Помыть чертову посуду, Дата: 05.01.2018, Сложность: Легкая, Характеристика: Без характеристики.
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Работа с достижениями</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                За каждое выполненное условие в игре пользователь будет получать достижение из списка возможных.Примеры: Получи 10 уровень, Выполни 100 задач , Тертый калач ( Ни разу не умер).
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>


                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Как изменить себя</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <p>
                            Путь к изменинию себя состоит из пяти ступеней, пройдя через которые вы сможете добиться устойчивых изменений в жизни.
                        </p>
                        <ul>
                            <li>
                                1.
                                Незаинтересованность. У вас нет настоящего желания действовать, вы не принимаете никаких мер.
                            </li>
                            <li>
                                2.
                                Рассмотрение. У вас есть желание, но нет реальных обязательств, которые заставят вас что-то делать.
                            </li>
                            <li>
                                3.
                                Приготовления. Вы хотите принять меры в течение месяца, готовитесь к действию.
                            </li>
                            <li>
                                4.
                                Действие. Вы предпринимаете конкретные действия для изменений. Как правило, это первые шесть месяцев успешных перемен.
                            </li>
                            <li>
                                5.
                                Поддержание. Вы успешно меняетесь уже более полугода. Вы уверены, что сможете поддерживать изменения, но ещё есть вероятность скатиться обратно.
                            </li>
                        </ul>

                        <p>
                            На каждой ступени вы можете провести разное время: от нескольких часов до десятков лет. Но при этом действия для перехода на другую ступень всегда одинаковы, вне зависимости от человека и цели.
                            Для каждой ступени есть свои конкретные стратегии, которые помогут снять сопротивление, обеспечить прогресс и предотвратить откат.
                        </p>
                        <p>
                            Задайте себе два вопроса и отметьте ответы на шкале от 0 до 10.
                            1. Насколько важны эти изменения для вашей жизни прямо сейчас?
                            2. Насколько вы уверены в том, что можете внести эти изменения прямо сейчас?

                            А теперь соотнесите это со ступенью:

                            0–3 — незаинтересованность;
                            4–7 — рассмотрение;
                            8–10 — приготовления и действия.

                            Теперь вы точно представляете, на какой ступени находитесь, и можете работать над переходом на следующую ступень.
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>







