
@{
    ViewBag.Title = "Руководство";
}

<h1 class="page-title">Руководство</h1>
<hr />

<h3>Приведено описание работы с сайтом по этапам.</h3>
<h4>Регистрация:</h4>
<ul>
    <li>
        Возможность регистрации пользователя с помощью электронной почты или социальных сетей.
    </li>
    <li>
        Добавление своих данных, таких как возраст, пол, вес и рост (опционально).
    </li>
    <li>
        Указание первоначальные значения характеристик, таких как Сила, Интеллект, Харизма, Психика, Профессионализм (все зависит от субъективного взгляда человека, на сколько он себя оценивает и зависит лишь от его честности) от 0 до 10 (0 - днище, 10 - бог).
    </li>
    <li>
        При регистрации у пользователя 1 уровень, 0 опыта, 0 кредитов  и полное число жизней, также пользователю назначается класс в зависимости от его установленных характеристик ( к примеру если интеллект больше 7, то человек получает класс ученый, сила больше 5 , то солдат).
    </li>
</ul>

<h4>Работа с задачами:</h4>
<ul>
    <li>
        Пользователь может указывать свои дела, события, встречи и прочее в задачах.
    </li>
    <li>
        Задачи имеют три уровня сложности : Легкий, Средний и Тяжелый, в зависимости от уровня изменяется размер получаемого опыта, количество кредитов, а также количество наносимого урона за пропуск задания.
    </li>
    <li>
        Для заданий можно выбрать характеристику, на какую она будет влиять: Сила, Интеллект и так далее или вообще без характеристики.
    </li>
    <li>
        Для заданий можно выбирать количество повторений : Без повторений, Ежедневно, Ежемесячно и Ежегодно. Если выбираешь без повторений, то задание выполняется один раз и больше не отображается, для остальных устанавливается дата следующего повторения. За каждое пропущенное задание пользователь теряет свое здоровье, опыт, а также опыт по характеристики, какую установил для задачи. Примеры задачи: Пойти в тренажерный зал, Дата: 01.01.2018, Сложность:Тяжелая, Характеристика: Сила и выносливость или Помыть чертову посуду, Дата: 05.01.2018, Сложность: Легкая, Характеристика: Без характеристики.
    </li>
</ul>

<h4>Работа с привычками:</h4>
<ul>
    <li>
        Привычка отличается от задачи тем, что ей не нужно устанавливать дату начала или окончания.
    </li>
    <li>
        Для привычки, как и для задачи можно выбрать ее название , сложность и характеристику.
    </li>
    <li>
        Также для привычки можно выбрать полезная она или вредная, к примеру полезная привычка Не курить и вредная Есть много сладостей.
    </li>
    <li>
        При первоначальной установке считается, что привычка не устоявшаяся и отмечена серым цветом, на подтверждение привычки дается 21 день, которые отмечает на ней счетчик.
    </li>
    <li>
        После 21 дня, привычка считается устоявшейся и меняет свой цвет в зависимости от ее вредности, вредная в Красный , полезная в Зеленый.
    </li>
    <li>
        За каждый пропущенный день пользователю дается одно предупреждение, если он пропускает три дня подряд , то счетчик дней сбрасывается и привычка снова считается неустоявшейся.
    </li>
    <li>
        Примеры привычек: Не курить, Сложность: Высокая, Характеристика: Сила и выносливость, Полезная привычка.
    </li>
</ul>
<h4>Работа с достижениями:</h4>
<ul>
    <li>
        За каждое выполненное условие в игре пользователь будет получать достижение из списка возможных.Примеры: Получи 10 уровень, Выполни 100 задач , Тертый калач ( Ни разу не умер).
    </li>
</ul>
<h4>Работа с гильдиями и миссиями:</h4>
<ul>
    <li>
        В игре будут несколько основных сюжетных гильдий и набор миссий для каждой.
    </li>
    <li>
        Пользователь сможет выбрать миссию в гильдии и начать ее выполнение, она должна отобразиться у него в списке активных миссий
    </li>
    <li>
        После выполнения миссии, пользователь получает опыт, кредиты , а также повышает репутацию с данной гильдией
    </li>
    <li>
        Также пользователи могут добавлять свои гильдии со своим набором миссий, которые будут выполнять другие игроки и повышать репутацию с этой гильдией.
    </li>
    <li>
        Мне так представляется можно будет все-таки заставлять в гильдии вступать людей для выполнения заданий, а также для общения внутри гильдии, возможно также можно будет подстегивать людей к конкуренции между гильдиями.
    </li>
</ul>
<h4>Работа с чатом:</h4>
<ul>
    <li>
        Какая же мультиплеерная ролевка без чата, но это пока для меня серая тема, по ходу буду думать над ней.
    </li>
</ul>
<h4>Работа с отсеками корабля:</h4>
<ul>
    <li>
        Сюда я думал впихнуть какие-нибудь дополнительные возможности для игроков, вроде медицинского отсека, в котором можно лечить своего персонажа за кредиты или инженерный отсек для восстановления брони (чего?).
    </li>
</ul>






