
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3><strong>Справочный центр</strong></h3>
                    </div>
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Регистрация</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                Возможность регистрации пользователя с помощью электронной почты или социальных сетей.
                            </li>
                            <li>
                                Добавление своих данных, таких как возраст, пол, вес и рост (опционально).
                            </li>
                            <li>
                                При регистрации у пользователя 1 уровень, 0 опыта, 0 монет.
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Работа с задачами</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                Пользователь может указывать свои дела, события, встречи и прочее в задачах.
                            </li>
                            <li>
                                Задачи имеют три уровня сложности : Легкий, Средний и Тяжелый, в зависимости от уровня изменяется размер получаемого опыта, количество кредитов, а также количество наносимого урона за пропуск задания.
                            </li>
                            <li>
                                Для заданий можно выбрать навык, на какой она будет влиять или указать без навыка.
                            </li>
                            <li>
                                Для заданий можно выбирать количество повторений : Без повторений, Ежедневно, Ежемесячно и Ежегодно. Если выбираешь без повторений, то задание выполняется один раз и больше не отображается, для остальных устанавливается дата следующего повторения. За каждое пропущенное задание пользователь теряет свое здоровье, опыт, а также опыт по характеристики, какую установил для задачи. Примеры задачи: Пойти в тренажерный зал, Дата: 01.01.2018, Сложность:Тяжелая, Характеристика: Сила и выносливость или Помыть чертову посуду, Дата: 05.01.2018, Сложность: Легкая, Характеристика: Без характеристики.
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-default collapsed-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-widget="collapse">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="card-title">Работа с достижениями</h3>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: none;">
                        <ul>
                            <li>
                                За каждое выполненное условие в игре пользователь будет получать достижение из списка возможных.Примеры: Получи 10 уровень, Выполни 100 задач , Тертый калач ( Ни разу не умер).
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>







