
    <div class="row">
        <div class="col-md-12 text-center">Герой потерял много крови, необходимо проследовать в медицинский отсек и оплатить его лечение.</div>
        <br/>
        <div class="col-md-12 text-center"><a href="@Url.Action("Medical","Compartment")" class="btn btn-default">Перейти в медицинский отсек</a></div>
    </div>
