@model NickNameViewModel

@{
    Layout = null;
}

<form asp-action="AddNickName" class="form-modal">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NickName" class="control-label"></label>
        <input asp-for="NickName" class="form-control" maxlength="50" onkeydown="keydownenter(event)" />
        <span asp-validation-for="NickName" class="text-danger"></span>
    </div>
</form>