@model TaskLibrary.Character


<div class="sw_medical container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center h4">Добро пожаловать в медицинский отсек, <b>@Html.DisplayFor(m => m.User.UserName)</b>! Давай взглянем на твое самочувствие...</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Текущее здоровье : @Model.CurrentHealth</div>
        <div class="col-md-5">Твое здоровье стоит недешево, тебе это обойдется в @((Model.MaxHealth - Model.CurrentHealth) * 2) <i class="glyphicon glyphicon-credit-card"></i></div>
        @if (Model.CurrentGold - (Model.MaxHealth - Model.CurrentHealth) * 2 >= 0)
        {
        <div class="col-md-2"><a href="@Url.Action("GetCare","Compartment")" class="btn btn-default">Восстановить здоровье</a></div>

        }
        else
        {
            <div class="col-md-2">Недостаточно денег для оплаты услуг</div>
        }
    </div>
</div>

