
<title>Evolve Me!</title>
<link rel="shortcut icon" href="~/img/primary/inferno.png" type="image/x-icon" asp-append-version="true">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

<meta name="description" content="Сайт для людей, которые готовы менять себя">
<meta name="author" content="Petruhin Eugene" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css" asp-append-version="true">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Bootstrap Time Picker-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<!-- iCheck (Checkbox and Radio input) -->
<link rel="stylesheet" href="~/plugins/iCheck/flat/blue.css" asp-append-version="true">
<!--Select2 (DropdownList input)-->
<link rel="stylesheet" href="~/plugins/select2/select2.min.css" asp-append-version="true" />
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true">


<!-- ICONS
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
    -->
