@model ExternalLoginViewModel

<p class="login-box-msg">
    Вы успешно прошли аутентификацию с помощью <strong>@ViewData["LoginProvider"]</strong>.
    Введите адрес электронной почты для этого сайта ниже и нажмите кнопку «Регистрация»,
    чтобы закончить вход в систему.
</p>

<form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Регистрация</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
